    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <img src="/img/me.jpg" class="img-circle" width="300" height="300"> 
            <div class="col-lg-8 col-lg-offset-2">
             <p></p>
                <p>Salve sono Gabriele Belli, fin da bambino attratto dal mondo dell'informatica, ho deciso di approfondire questa sfera e farla diventare la mia passione.</p>
                <p>Ho conseguito così, la laurea triennale prima e successivamente quella magistrale in ingegneria informatica all'università di Roma Tor Vergata.</p>
                <p>Mi reputo una persona alquanto estroversa, quindi con una spiccata propensione volta alla solidificazione dei rapporti sociali; sia in ambito lavorativo sia in quello extra lavorativo.</p>
            </div>
        </div>
    </section>