    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <img src="/img/me.jpg" class="img-circle" width="300" height="300"> 
            <div class="col-lg-8 col-lg-offset-2">
             <p></p>
                <p>Ciao, sono Gabriele Belli uno studente magistrale di ingegneria informatica all'università di Tor Vergata.</p>
                <p>Da sempre appassionato per l'informatica ho deciso così di approfondire questo argomento.<br>Ho conseguito la laurea triennale ed ora sto ultimando il mio percorso.</p>
                <p>Sono una persona molto, anzi troppo, estroversa, mi piace circondarmi di persone divertenti.</p>
            </div>
        </div>
    </section>