    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
  <div class="container">
  <div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
              <div class="carousel-caption">

                              <p class="quote-author"><a href="/pdf/PrenotaFacile.pdf" target="_blank" class="btn btn-default btn-lg">PRENOTA FACILE</a></p>
                              <p class="quote-phrase"><span class="quote-marks"></span> Prenota facile è un'applicazione Android che permette tramite tecnoligie come: NFC, QR-CODE o l'assistente vocale di prenotare eventi basati su turni.
                                <span class="quote-marks"></span>
                              </p>
          </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
                                  <p class="quote-author"><a href="/pdf/Tyr.pdf" target="_blank" class="btn btn-default btn-lg">Tyr - DYNAMIC SOCIAL NETWORK GRAPH ANALYSIS</a></p>
                                  <p class="quote-phrase"><span class="quote-marks"></span> Il progetto è basato sulla DEBS Grand Challeng 2016. Tramite il paradigma Data Stream processing elabora i post più popolari in un social network e le comunità interessate ad un determinato topic.
                                  </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
                                <p class="quote-author"><a href="/pdf/ProxyInTheMiddle.pdf" target="_blank" class="btn btn-default btn-lg">Proxy In The Middle</a></p>
                                <p class="quote-phrase"><span class="quote-marks"></span> Il progetto consiste nel realizzare un proxy per dispositivi mobili android che sia in grado di interporsi, trasparentemente ed efficientemente, tra il dispositivo e tutte le comunicazioni da e verso Internet.
                               </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
                                <p class="quote-author"><a href="/pdf/ProgettoGestisciFacile.pdf" target="_blank" class="btn btn-default btn-lg">Gestisci Facile</a></p>
                                <p class="quote-phrase"><span class="quote-marks"></span> GestisciFacile è una piattaforma per la gestione di eventi basati su turno con lo scopo di migliorare la qualità dell'attesa per la ricezione di un servizio.
                                </p>
          
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
                                 <p class="quote-author"><a href="/pdf/SimulatoreTraffico.pdf" target="_blank" class="btn btn-default btn-lg">Simulatore di traffico in un sistema Multi-Tier</a></p>
                                  <p class="quote-phrase"><span class="quote-marks"></span> L’obiettivo del progetto è la realizzazione di un simulatore ad eventi di un sistema che fornisce un generico servizio web.
                                </p>
          
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
                                <p class="quote-author"><a href="/pdf/GQM.pdf" target="_blank" class="btn btn-default btn-lg">GQM+Strategies Support Tool</a></p>
                                <p class="quote-phrase"><span class="quote-marks"></span> Tool di supporto per la fase 3 e 4 del metodo GQM+Strategies. Il tool utilizza Spring MVC ed Activiti.
                                </p>
          
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
                                <p class="quote-author"><a href="/pdf/MST.pdf" target="_blank" class="btn btn-default btn-lg">Valutazione del minimo albero ricoprente</a></p>
                                <p class="quote-phrase"><span class="quote-marks"></span> Nel progetto si vuole valutare sperimentalmente un algoritmo sub-lineare per il calcolo del peso del minimo albero ricoprente (MST).
                                 </p>
          
        </div>
      </div>
    </div>
  
      <div class="item">
      <div class="container">
        <div class="carousel-caption">
                                <p class="quote-author"><a class="btn btn-default btn-lg">Formulazione del modello p-cover</a></p>
                                <p class="quote-phrase"><span class="quote-marks"></span> Creare un'applicazione di supporto per un'azienda locale in grado di risolvere il problema di localizzazione dei dipendenti.
                                </p>

          
        </div>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"> </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>  
</div>
<!-- /.carousel -->
</div>
            </div>
    </section>