    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
  <div class="container">
  <div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
                              <p> <a href="/pdf/PrenotaFacile.pdf" target="_blank" class="btn btn-default btn-lg">PRENOTA FACILE</a></p>
                              <p class="quote-phrase"><span class="quote-marks"></span> Prenota facile è un'applicazione Android che permette tramite tecnoligie come: NFC, QR-CODE o l'assistente vocale di prenotare eventi basati su turni.
                                <span class="quote-marks"></span>
                        
                        </p>
        <div class="carousel-caption">
          </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    
  </a>  
</div>
<!-- /.carousel -->
</div>
            </div>
    </section>